.horoscope-section {
    width: 100%;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.sign-block {
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 3px 3px 3px 4px black;
}
.sign-block__image {
    width: 70%;
    border-radius: 2rem;
}
.sign-block__button {
    color: white;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822);
    display: flex;
    align-items: center;
    justify-content: center;
}
.window {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    max-width: 60vw;
    background: linear-gradient(to right, #371a44, #1b4f72);
    padding: 4.5rem;
    border-radius: 2rem;
    max-height: 80vh;
}
.back-button {
    position: absolute;
    padding: 0;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 3px 4px black;
    transition: 0.2s;
}
.line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2px;
    transform-origin: center;
    background-color: white;
    transition: 0.2s;
}
.line1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.line2 {
    transform: translate(-50%, -50%) rotate(45deg);
}
.back-button:hover {
    transform: scale(1.1);
    background-color: white;
}
.back-button:hover .line1 {
    background-color: black;
}
.back-button:hover .line2 {
    background-color: black;
}
.scroll_lock {
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .horoscope-section {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 850px) {
    .window {
        max-width: 70vw;
        max-height: 90vh;
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 550px) {
    .horoscope-section {
        grid-template-columns: repeat(1, 1fr); 
    }
    .sign-block {
        padding: 2rem;
    }
    .sign-block__image {
        width: 85%;
    }
    .window {
        max-width: 85vw;
        max-height: 95vh;
        padding: 3rem 1rem 1rem 1rem;
        border-radius: 1rem;
        font-size: 0.90rem;
    }
    .back-button {
        top: 0.3rem;
        right: 0.3rem;
        scale: 0.7;
    }
}

@media screen and (max-width: 380px) {
    .window {
        font-size: 0.75rem; 
    }
}

@media (hover: none) and (pointer: coarse)  {
    .back-button:hover {
        transform: scale(1);
        background-color: transparent;
    }
    .back-button:hover .line1 {
        background-color: white;
    }
    .back-button:hover .line2 {
        background-color: white;
    }
}