.lunar-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cycle-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cycle-block__preview {
  width: 12rem;
  color: white;
  transition: 0.3s;
}
.cycle-block__preview_disable {
  background: white;
  color: black;
  border: white;
  box-shadow: 5px 3px 3px black;
}
.phase-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.phase-block__image {
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phase-block__status {
  font-size: 2rem;
}
.zodiac-block {
  padding: 2rem;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 3rem;
  box-shadow: inset -10px -5px 20px black, inset 10px 5px 20px black;
}
.slider {
  width: 100%;
  display: flex;
  gap: 2rem;
  transition: transform 0.5s ease-in-out;
}
.zodiac-block__wrapper {
  min-width: 46.4%;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.zodiac-block__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.zodiac-block__picture {
  width: 2rem;
  height: 2rem;
  order: -1;
}
.slider-buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.slider-buttons__item {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.slider-buttons__item:hover  .arrow {
  scale: 0.95;
  border-radius: 50%;
  transition: 0.2s;
}
.arrow__left {
  transform: rotate(180deg);
}