.footer {
    width: 94vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 3rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
}
.footer-contacts {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.footer-logo {
    width: 1.2rem;
    transition: 0.2s;
}
.footer-logo:hover {
    scale: 1.1;
}

@media screen and (max-width: 600px) {
    .footer {
        gap: 1rem;
        font-size: 0.7rem;
    }
    .contacts {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .footer__item {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 300px) {
    .dev {
        display: none;
    }
}