.footer {
    width: 94vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-contacts {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-logo {
    width: 2.5rem;
    transition: 0.2s;
}
.footer-logo:hover {
    scale: 1.1;
}