.weather-preview {
    position: relative;  
}
.weather-preview__icon {
    width: 6rem;
}
.clouds {
    display: none;
}
.cloud1 {
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: -1rem;
    width: 3rem;
}
.cloud2 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 4rem;
    width: 2rem;
}
.solar-preview__pic {
    display: block;
    width: 19rem;
}
.solar-preview__pic_deactive {
    display: none;
}
.solar-preview__animation {
    display: block;
    width: 22rem;
}
.solar-preview__animation_deactive {
    display: none;
}
.kp-index-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.signal-light {
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0rem 0rem 1rem black;
    animation: blink 1.5s infinite;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}
.signal_blue {
    background-color: blue;
    box-shadow: 0rem 0rem 1rem blue;
}
.signal_light-blue {
    background-color: rgb(0, 187, 255);
    box-shadow: 0rem 0rem 1rem rgb(0, 187, 255);
}
.signal_green {
    background-color: rgb(0, 255, 0);
    box-shadow: 0rem 0rem 1rem rgb(0, 255, 0);
}
.signal_yellow {
    background-color: yellow;
    box-shadow: 0rem 0rem 1rem yellow;
}
.signal_orange {
    background-color: rgb(255, 200, 0);
    box-shadow: 0rem 0rem 1rem rgb(255, 200, 0);
}
.signal_red {
    background-color: red;
    box-shadow: 0rem 0rem 1rem red;
}