body {
  position: relative;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #371a44, #1b4f72);
  color: white;
  margin: 0 auto;
}
.header {
  position: relative;
  width: 94vw;
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lang {
  position: relative;
  width: 3rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.slide-menu {
  position: absolute;
  padding: 0.5rem;
  top: 130%;
  right: 0;
  background: rgba(89, 89, 89, 0.925);
  box-shadow: 1rem 1rem 5px black;
  border-radius: 2rem;
  transition: 0.3s;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.slide-menu_deactive {
  transform: translateY(-23rem);
}
.container-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  gap: 1rem;
}
.container-list-item {
  padding: 0.2rem;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.container-list-item:hover {
  border: 1px solid white;
}
.content {
  width: 95%;
}
.settings-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings {
  width: 3rem;
  transition: 0.3s;
}
.settings:hover {
  scale: 1.05;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.logo-container__image {
  width: 5.5rem;
  height: 5.5rem;
}
.burger-button {
  display: none;
}
.navbar__list {
  display: flex;
  gap: 2rem;
}
.navbar__item {
  padding: 0.7rem;
  list-style-type: none;
  background: transparent;
  border: white;
  border-radius: 1rem;
  box-shadow: 8px 5px 5px black, -1px -1px black;
  cursor: pointer;
  transition: 0.3s;
}
.navbar__item:hover {
  background: white;
  color: black;
  border: white;
  box-shadow: 5px 3px 3px black;
}

@media screen and (max-width: 950px) {
  .header {
    padding-top: 0;
  }
  .burger-button {
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
  }
  .line-first {
    transform: translateY(0.7rem);
  }
  .line-second {
    transform: translateY(1.4rem);
  }
  .line-third {
    transform: translateY(2.1rem);
  }
  .navbar {
    position: absolute;
    top: 6.7rem;
    right: 0;
    transition: 0.3s;
  }
  .navbar-close {
    transform: translateY(-130%);
  }
  .navbar__list {
    margin: 0;
    padding: 2rem;
    flex-direction: column;
    background: linear-gradient(to right, #371a44, #1b4f72);
    border-radius: 2rem;
    box-shadow: 8px 5px 5px black, -1px -1px black;
  }
  .navbar__item {
    padding: 1rem 1.5rem;
    box-shadow: none;
  }
}

@media screen and (max-width: 400px) {
  .logo-container__image {
    width: 3.5rem;
    height: 3.5rem;
  }
  .burger-button {
    width: 2.5rem;
    height: 2.5rem;
  }
  .line-first {
    transform: translateY(0.6rem);
  }
  .line-second {
    transform: translateY(1.2rem);
  }
  .line-third {
    transform: translateY(1.8rem);
  }
  .settings-container {
    width: 2.5rem;
    height: 2.5rem;
  }
  .settings {
    width: 2.5rem;
  }
}

@media (hover:hover) {
  .element {
    pointer-events: none;
  }
}