body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #371a44, #1b4f72);
  color: white;
  margin: 0 auto;
}
.header {
  width: 94vw;
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lang {
  position: relative;
  width: 5%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.slide-menu {
  position: absolute;
  top: 110%;
  left: 100%;
  background: linear-gradient(to right, #371a44, #1b4f72);
  border-radius: 2rem;
  transition: 0.3s;
}
.slide-menu_deactive {
  transform: translateY(-22rem);
}
.container-list {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-list-item {
  padding: 0.2rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: 0.3s;
}
.container-list-item:hover {
  border: 1px solid white;
}
.content {
  width: 95%;
}
.settings {
  width: 3rem;
  transition: 0.3s;
}
.settings:hover {
  scale: 1.05;
}
.logo-container {
  display: flex;
  gap: 1rem;
}
.logo-container__image {
  width: 4rem;
  height: 4rem;
}
.navbar__list {
  display: flex;
  gap: 2rem;
}
.navbar__item {
  padding: 0.7rem;
  list-style-type: none;
  background: transparent;
  border: white;
  border-radius: 1rem;
  box-shadow: 8px 5px 5px black, -1px -1px black;
  cursor: pointer;
  transition: 0.3s;
}
.navbar__item:hover {
  background: white;
  color: black;
  border: white;
  box-shadow: 5px 3px 3px black;
}